%form(action='/' method='POST')
    %textarea(name='data' cols='50' rows='30')
    %br
    %input(type='submit')

%h3 Example
%pre
  Miki
  Luis
  Javi
  7
  @
  M * 7 Lunch
  J M,J 50 Drinks
  L * 15
